body {
	background: #181a1b;
	color: #f8f9fa;
}
h1, h2 {
	font-weight: 700;
	color: #ffc107;
}
.table-dark th, .table-dark td {
	color: #f8f9fa;
}
.btn-warning {
	color: #181a1b;
	background-color: #ffc107;
	border-color: #ffc107;
}
.btn-outline-warning {
	color: #ffc107;
	border-color: #ffc107;
}
.btn-info {
	color: #fff;
	background-color: #0dcaf0;
	border-color: #0dcaf0;
}
.navbar-dark .navbar-brand {
	color: #ffc107;
}
.navbar-dark .navbar-text {
	color: #f8f9fa;
}
.form-control.bg-dark {
	background-color: #181a1b;
	color: #f8f9fa;
	border-color: #343a40;
}
.form-label {
	color: #f8f9fa;
}
